@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #e4eef1;

}

.opacity {
    opacity: 0.5;
    z-index: -50;
    transition: all ease-in 200ms;
}


#home-img{
    animation: bounce 5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-20px);
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
  }
  50% {
    transform: translateY(0);
    /* animation-timing-function: cubic-bezier(0, 0, 0.2, 1); */
  }
}